<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
	.my-group .form-control{
	    width:50%;
	}
	div#bandeau {
	width:600px;
	height:50px;
	background-color:#EFF8FB;
	text-align:center
	}
div#contenu {
	width:600px;
	height:50px;
	background-color:white;
	margin-top:10px;
	}
div#piedpage {
	width:600px;
	height:300px;
	background-color:#EFF8FB;
	}
div#heading {
	width:600px;
	height:60px;
	text-align:center
	}	
div#info {
	width:600px;
	margin-left:50px;	
	}	
a.one{
    text-align: center;	
}
a.one:link, a.one:visited {
    background-color: #A2D8EB;
    color: #1D7491;
    padding: 14px 25px;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
}


a.one:hover, a.one:active {
    background-color: cyan;
}	
</style>
	<div ng-controller="DeclarationDetailCtrl as ctrl" >
			<!-- begin of the panel-->
			
			<div class="col-md-12 " >
			
		<div class="panel panel-info spacer" id="info">
		<div class="panel-heading" id="heading"><h4>Lire Message</h4></div>
		<p>
				<div id="bandeau">Declaration envoye par {{ctrl.declaration.user.firstName}} {{ctrl.declaration.user.lastName}} le {{ctrl.declaration.datedeclaration  | date:'MM/dd/yyyy'}} </div>
				<div id="contenu"><pre> Sujet : {{ctrl.declaration.objet}}</pre> </div>
				<div id="piedpage">{{ctrl.declaration.contenu}}</div>
				<br><a href="#/gestionDeclaration" class="one">Revenir en arriere</a>
		</p>
				      				
	</div>
			    
			
</div>  <!-- end of the panel-->
			
		<!-- the end of the controller div  -->
</div>