
<style type="text/css">
	.my-group .form-control{
	    width:50%;
	}
</style>
	<div ng-controller="MessageClasseController as ctrl" >
	<div ng-if="ctrl.classes">
		
			<h1>List des classes</h1>
				      	<table class="table"><!-- the table of users  -->
						<thead>
							<tr>
								<th>id Classe</th>
								<th>nomClasse</th>
								<th>description</th>
								<th>Contacter la classe</th>
							</tr>
						</thead>	
						<tbody>
							<tr ng-repeat="u in ctrl.classes">
								<td>{{u.idClasse}}</td>
								<td>{{u.nomClasse}}</td>
								<td>{{u.descClasse}}</td>	
								<td><button class="btn btn-success" ng-click="ctrl.contacter(u.idClasse)" >Envoyer un message</button>
															
							</tr>
						</tbody>
					</table><!-- end of the table of users  -->
			      <div class="col-md-12 ">
		<div class="panel panel-info spacer" ng-if="ctrl.idClasse">
		<div class="panel-heading"> Send Message </div>
				<form name="addUserForm">
				 <div class="form-group">
				 	<label>Classe  :</label>
				 	<input type="text" name="classe name" ng-model="ctrl.classe.nomClasse" class="form-control"  required ng-readonly="true">
				 </div>
				<div class="form-group">
					<label  >Objet:</label> 
					<input type="text" name="firstName" ng-model="ctrl.message.objet" class="form-control" required>
				</div>
				<div class="form-group">
					<label>message :</label>
					<textarea name="lastName"  ng-model="ctrl.message.message" class="form-control" cols="73" rows="10" required>
					Saisir votre message</textarea>
				</div>
				 
				</form>
				
				<div class="form-group">
						<button ng-click="ctrl.contacterClasse(ctrl.idClasse)" class="btn btn-info"
						ng-disabled="addUserForm.firstName.$invalid||
						addUserForm.lastName.$invalid||addUserForm.email.$error.email
						">Send Message</button>
						<button class="btn btn-danger">Cancel</button>
					</div>			
		</div>
		</div>			
					
					
					
			      </div>
			      
			      
		</div>
			      
 <!-- end of the panel-->
			
<!-- the end of the controller div  -->