<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="generic-container"
	ng-controller="typeFormationController as ctrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">ajouter un type </span>
		</div>
		<br>
		<div class="formcontainer">
			<form name="myForm" class="form-horizontal" ng-submit="ctrl.add()">
				<input type="hidden" ng-model="ctrl.typeFormation.idTypeFormation" />

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for=""></label>
						<div class="col-md-7">
							<input type="text"
								ng-model="ctrl.typeFormation.labelTypeFormation" id="cne"
								class="form-control input-sm" placeholder="label"
								required-err-type="reqType" required />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<div class="col-md-2 control-lable"></div>
						<div class="col-md-7">
							<input type="button" ng-click="ctrl.update()" value="update"
								class="btn btn-primary btn-sm"> <input type="submit"
								value="add" class="btn btn-primary btn-sm">
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm">Annuler</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">List des types </span>
		</div>
		<div class="tablecontainer">
			<table class="table table-hover">
				<thead>
					<tr>

						<th>type de formation</th>


					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="t in ctrl.typeFormations">

						<td>{{t.labelTypeFormation}}</td>

						<td>
							<button type="button" ng-click="ctrl.edit(t.idTypeFormation)"
								class="btn btn-success custom-width">Edit</button>
							<button type="button" ng-click="ctrl.remove(t.idTypeFormation)"
								class="btn btn-danger custom-width">Remove</button>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


